.friend_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 250px;
  padding: 0 15px;
  border: 1px solid blanchedalmond;
  border-radius: 4px;
}

.isOnline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  composes: isOnline;
  background-color: green;
}

.offline {
  composes: isOnline;
  background-color: red;
}

.name {
  font-size: 22px;
}
